.card-title {
    color: royalblue;
}


.card2 {
    position: statick;
    margin-left: -42%;
    margin-top: 30px;
}

.slide {
    width: 450px;
    margin: 8px;
    margin-left: 60%;
    margin-top: -6%;


}

.d-block {
    border-radius: 20px;
}

.text {
    margin-left: 4%;
    margin-top: 4%;
    color: black;
    background-color: f;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

