.img-vectra {
  width: 350px;
  height: 230px;
  margin-right: 1%;
  border-radius: 25px;
  border: 2px solid;
  margin-top: 40px;

}

.img-mondeo {
  position: static;

  width: 350px;
  height: 230px;
  margin-right: 1%;
  border-radius: 25px;
  border: 2px solid;
  margin-top: 38px;
  right: 0px;

}


p {
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.clearfix {
  margin: 3px;
  border: 2px solid;
  border-radius: 27px;
  height: 299px;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  margin-bottom: 1%;
}

.logo{
  width: 370px;
  height: 200px;
  margin-top: 1%;
  margin-left: 37%;
  -webkit-filter: blur(1px);
}

.text{
  margin-top: -11%;
  margin-left: 1%;
}

.link{
  margin-left: -55.8%;
  position: static;

  
}