.img {
  width: 350px;
  height: 230px;
  margin-right: 1%;
  border-radius: 25px;
  margin-top: 32px;

}

.card-global {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearfix1 {
  margin: 20px;
  border-radius: 27px;
  height: 299px;
  width: 100%;
  max-width: 700px;
  background-color: transparent;
  display: ;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar {
  margin-bottom: 1%;
}

.logo {
  width: 180px;
  height: 130px;
  margin-top: 9%;
  margin-left: 33%;
  -webkit-filter: blur(1px);
}

.text {
  color: black;
  margin-top: -16%;
  margin-left: 10%;
}

.text-opel{
  color: black;
  margin-top: -25%;
  margin-left: 10%;
}

.link {
  position: relative;
  top: 50px;
  margin-left: 12%;
  margin-bottom: 2%;
  font-size: 17px;
}

.link-opel {
  position: relative;
  top: 250px;
  margin-left: -88%;
  font-size: 17px;
}

.btn1{
  margin-left: 75%;
  margin-top: 6%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  
}
.btn2{
  position: relative;
  top: 65px;
  margin-left: 72%;
  margin-top: 24%;
  font-size: 25px;
  
}

@media only screen and (max-width: 768px) {
  .img {
    width: 200px;
    height: 140px;
    margin-left: 47%;
    margin-top: 30%;
  }

  #button {
    transition: bottom 0.2s ease;
  }

 