
.card {
    border: white;
    margin-left: 2.5%;
    margin-top: 0.3%;
    width: 100%;
    background-color: transparent;
    color: white;

}

.img {
    border-radius: 10px;
    height: 215px;
    
   
}

.başlık{
    margin-top: 1%;
}

.global{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

