.card-mondeo {
    margin-top: -23.3%;
    margin-left: 18.5%;
    border: white;
}

.card {
    border: white;
    margin-left: 2.5%;
}

.img {
    border-radius: 10px;
    height: 215px;
    position: static;
}


.card-talisman {
    margin-top: -22.5%;
    margin-left: 34.5%;
    border: white;
}


.card-fiat {
    margin-top: -22.5%;
    margin-left: 50.5%;
    border: white;
}

.card-nissan{
    margin-top: -22.5%;
    margin-left: 66.5%;
    border: white;
}


.card-dacia{
    margin-top: -22.5%;
    margin-left: 82.5%;
    border: white;
}

.başlık{
    margin-top: 6.4%;
}

.global-card{
     
}